.container-aplicativo {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  margin-left: 10px;
}

.calendario-scroll-container {
  flex: 1;
  overflow: auto;
  background: #f4f6f8;
}